<footer>
  <div class="keywords">
    <p>Digital product design</p>
    <p>Remote work</p>
    <p>UX design</p>
    <p>Distributed teams</p>
    <p>Creativity</p>
    <p>Strategy</p>
    <p>Suspense</p>
    <p>Growth</p>
  </div>
  <a href="/" class="logo"><img src="/logo-footer.svg" alt="" /></a>
  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu velit
    tempus erat egestas efficitur. In hac habitasse platea dictumst. Fusce a
    nunc eget ligula suscipit finibus.
  </p>
  <ul>
    <li><a href="">Twitter</a></li>
    <li><a href="">LinkedIn</a></li>
    <li><a href="">RSS</a></li>
  </ul>
  <p class="copyright">
    © 2012–2020 Nordic Rose Co. <br />
    All rights reserved.
  </p>
</footer>
<!-- </body>
</html> -->
