<%- include("./head") %>

<header>
  <a href="/">
    <img src="/logo.svg" alt="" />
  </a>
  <nav>
    <ul>
      <li><a href="/">ALL</a></li>
      <li><a href="/new-article">NEW ARTICLE</a></li>
    </ul>
  </nav>
</header>
